{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11", "> 1%, not dead"]
      },

      "corejs": "3",

      "useBuiltIns": "entry"
    }]
  ]
}
